CREATE TABLE IF NOT EXISTS {{ .Prefix }}_versions ( 
  id TEXT,
  version TEXT NOT NULL,
  _tstamp TIMESTAMP DEFAULT(STRFTIME('%Y-%m-%d %H:%M:%f', 'NOW')),
  {{ range $name, $desc := .Partitions }}
    {{ $name }} {{ columnType $desc}} NOT NULL,
  {{ end }}
  PRIMARY KEY(id)
);