{{ $p := .Postfix }}

CREATE TABLE IF NOT EXISTS v_{{ $p }} ( 
  id TEXT,
  version TEXT NOT NULL,
  _tstamp TIMESTAMP DEFAULT(STRFTIME('%Y-%m-%d %H:%M:%f', 'NOW')),
  {{ range $name, $desc := .Partitions }}
    {{ $name }} {{ columnType $desc}} NOT NULL,
  {{ end }}
  PRIMARY KEY(id)
);

CREATE INDEX _tstamp_{{ $p }}_idx ON v_{{ $p }}(_tstamp);

{{ range $name, $_ := .Partitions }}
  CREATE INDEX {{ $name }}_{{ $p }}_idx ON v_{{ $p }}({{ $name }});
{{ end }}
