INSERT OR REPLACE INTO v_{{ .Postfix }} 
  (
    {{ range $name, $desc := .Partitions }}
      {{ $name }},
    {{ end }}
    id,
    version,
    _tstamp
  )
	SELECT 
      {{ range $name, $desc := .Partitions }}
        new.{{ $name }},
      {{ end }}
	    new.id,
	    new.version,
	    CASE 
	        WHEN old.version <> new.version 
	        THEN STRFTIME('%Y-%m-%d %H:%M:%f', 'NOW') 
	        ELSE COALESCE(old._tstamp, STRFTIME('%Y-%m-%d %H:%M:%f', 'NOW')) 
	    END AS ts
	FROM ( SELECT
          {{ range $name, $desc := .Partitions }}
            ? AS {{ $name }},
          {{ end }}
          ? AS id,
          ? AS version
	) AS new
	LEFT JOIN (
	    SELECT
        {{ range $name, $desc := .Partitions }}
          {{ $name }},
        {{ end }}
        id,
        version,
        _tstamp
	    FROM v_{{ .Postfix }}
	) AS old ON new.id = old.id;
